<div class="container" style="padding-top:50px;">
    <div class="row">
     <%= form_for(@brewery) do |f| %>
      <% if @brewery.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@brewery.errors.count, "error") %> prohibited this brewery from being saved:</h2>
          <ul>
          <% @brewery.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="form-group">
        <%= f.label :notes %><br>
        <%= f.text_area :notes %>
      </div>
      <div class="form-group">
        <%= f.label :lat %><br>
        <%= f.text_field :lat %>
      </div>
      <div class="form-group">
        <%= f.label :long %><br>
        <%= f.text_field :long %>
      </div>
      <div class="form-group">
        <%= f.submit %>
      </div>

    <% end %>
  </div>
</div>
