
<div class="container" style="padding-top:50px;">
    <div class="row">
        <div class="col-lg-12" >
            <div class="page-header">
                <h1>Breweries</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <span style="pull-right">
          <%= link_to 'New Brewery', new_brewery_path, :class => 'btn btn-success pull-right' %>&nbsp;&nbsp;&nbsp;
          <%= link_to 'API Import', import_breweries_api_path, :class => 'btn btn-success pull-right' %>
        </span>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Notes</th>
                        <th>Lat</th>
                        <th>Long</th>
                    </tr>
                </thead>
                <tbody>
                  <% @breweries.each do |brewery| %>
                    <tr>
                      <td><%= brewery.name %></td>
                      <td><%= brewery.notes %></td>
                      <td><%= brewery.lat %></td>
                      <td><%= brewery.long %></td>
                      <td><%= link_to 'Show', brewery %></td>
                      <td><%= link_to 'Edit', edit_brewery_path(brewery) %></td>
                      <td><%= link_to 'Destroy', brewery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>