<div class="container">
  <% if flash[:notice] -%>
    <p class='notice'><h2><%=h flash[:notice] %></h2></p>
  <% end -%>
    <div class="row">
        <div class="col-lg-12" >
            <div class="page-header">
                <h1>Breweries (<%= @breweries.count %>)</h1>
                <div class="row" style="a { color: #fff !important }">
                  <span style="pull-right">
                    <%= link_to 'Pending', new_brewery_path, :class => 'btn btn-success pull-right' %>&nbsp;&nbsp;&nbsp;
                  </span>
                  <span style="pull-right">
                    <%= link_to 'New Brewery', new_brewery_path, :class => 'btn btn-success pull-right' %>&nbsp;&nbsp;&nbsp;
                  </span>
                  <span style="pull-right">
                    <%= link_to 'API Import', import_breweries_api_path, :class => 'btn btn-success pull-right' %>
                  </span>
                  <span style="pull-right">
                    <%= link_to 'Clear Breweries', '/admin/deleteBreweries', :class => 'btn btn-success pull-right',data: { confirm: 'Are you sure?'} %>
                  </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <span style="padding-left:25px;">
        <b> Breweries within 1 mile </b> &nbsp; <%=  @withinTen.count %>&nbsp;
        <% @withinTen.each do |r| %>
          <%= r.name %>,
        <% end %>
      </span>
    </div><br />
    <div class="row">
        <div class="col-lg-12">
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>Visible</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Lat</th>
                        <th>Long</th>
                    </tr>
                </thead>
                <tbody>
                  <% @breweries.each do |brewery| %>
                    <tr>
                      <td style="width:100px;">
                        <div class="btn-group btn-toggle"> 
                          <button  
                            <% if brewery.is_active? %>
                              class="btn btn-sm btn-primary active"
                            <%else%>
                              class="btn btn-sm btn-default"
                            <%end%>
                            id="<%= brewery.id %>_true">ON
                          </button>
                          <button
                            <% if brewery.is_active? %>
                            class="btn btn-sm btn-default"
                            <%else%>
                              class="btn btn-sm btn-primary active"
                            <%end%>
                            id="<%= brewery.id %>_false">OFF
                          </button>
                        </div>
                      </td>
                      <td><%= brewery.name %></td>
                      <td><%= brewery.address %> <%= brewery.city %>, <%= brewery.state %></td>
                      <td><%= brewery.latitude %></td>
                      <td><%= brewery.longitude %></td>
                      <td><%= link_to 'Show', brewery %></td>
                      <td><%= link_to 'Edit', edit_brewery_path(brewery) %></td>
                      <td><%= link_to 'Destroy', brewery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>
                  <%= will_paginate @breweries %>
                </tbody>
            </table>
        </div>
    </div>
</div>